PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.abc123.mongodb.net/life-admin?retryWrites=true&w=majority
JWT_SECRET=supersecretkey123
EMAIL_SERVICE=gmail
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
NODE_ENV=development
